DirectoryIndex index.php index.html
RewriteEngine On 
RewriteRule ^Api/(.*)/$ Api/$1/public/index.php [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]
RewriteRule ^/?$ public/index.php [L]